{% extends '_base.html'%}



<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> F3RRIN </title>
	 <link href="https://fonts.googleapis.com/css?family=Advent Pro" rel="stylesheet">
	 <link href="../static/styles.css" rel="stylesheet" type="text/css">
   <script src="../static/script.js"></script>
<body> -->

<!--
    <div class = "top-bar">
    <center><h1 class="title"> F 3 R R ! N </h1></center>
    <ul class= "menu-bar">
  <li><a href="enterPage.html">Home</a></li>
  <li><a href="media.html">Media</a></li>
  <li><a href="aboutMe.html">About Me</a></li>
  <li><a href="aboutMe.html">Contact</a></li>
  <li><a href="aboutMe.html">Blog</a></li>
</ul>
</div> -->
    {% block content %}

    <h1>Click here to analyze your</h1>



<!-- https://accounts.spotify.com/authorize?client_id=8f4eaeec713242dea18e8654b0bf917c&response_type=code&redirect_uri=https%3A%2F%2Flocalhost%3A3000%2Fcallback&scope=user-read-playback-state%20user-read-currently-playing
    https://accounts.spotify.com/authorize?client_id=8f4eaeec713242dea18e8654b0bf917c&response_type=code&redirect_uri=http%3A%2F%2Flocalhost:3000&scope=user-read-currently-playing%20user-read-currently-playing
https://accounts.spotify.com/authorize?client_id=8f4eaeec713242dea18e8654b0bf917c&response_type=code&redirect_uri=http%3A%2F%2Flocalhost:3000&scope=user-read-currently-playing%20user-top-read
AQCu836VTfNKrUDjLkexRv898bZdB0TkGw66mVg8Dyb7AK3hR8chYwuHYxjPoMCajHVILywg88lika_Do7rf6rVOo-a29v0Q-l8lledfCo5HVtXdD04LektkX_a0mEAqBZ9kbOm8NJbJHc8egBsbeRsMONmYxXVjj68PoBc7LQe8oOHRObSCJBRDGibR9-K4v0BjtpHmvPnoe6aaxLS08vOT4BYz
OGY0ZWFlZWM3MTMyNDJkZWExOGU4NjU0YjBiZjkxN2M6NmNlZjJjNjM3NmVjNDZhMjg1Mzk3M2Y5ODYzODRmZjAK
curl -H "Authorization: Basic OGY0ZWFlZWM3MTMyNDJkZWExOGU4NjU0YjBiZjkxN2M6NmNlZjJjNjM3NmVjNDZhMjg1Mzk3M2Y5ODYzODRmZjA=" -d grant_type=authorization_code -d code=AQDxxQ3Yo2Mg7fDFEHXIAdT_wQ-7VwRFzXOguzQKH4mOzfEEU983d3StELo34Ri-eXAgtZiiAi2MvPXZUxLXryzwm4NZaBPL2pY6fKEmrhacay6FAVcJmq-eYOwoWyeIE3rZWo81PU2AA8iEUXMtU3avX-Nx8ANaEeuoZ4YgCGi_CW_oIQNOGbfdySHeDG2L67yCmTt6rQ6H7cljIvtvgx8BSGITdNZgJv7WBfCS68qRXf9KxEc92EjP -d redirect_uri=https%3A%2F%2Flocalhost%3A3000%2Fcallback https://accounts.spotify.com/api/token -->
	  <p style="font-family:verdana; color:whitesmoke">Click <button id="song-submit-button" onclick="fetchId()">here</button> to see what I'm listening to at this exact moment: </p>
     <div id="song-container">

     <a id="song-link"><p id="song-title"></p>
     <p id="song-artist"></p></a>
     <img id="song-thumbnail"></img>
     <audio controls id="song-preview"></audio>
   </div>
   <div id="song-container2">
   <a id="song-link2">Here</a>
   <div>
   <p id="song-title2"></p>
   <p style="text-align : right" id="song-artist2"></p>
 </div>
   <img id="song-thumbnail2"></img>
   <audio controls id="song-preview2"></audio>
 </div>
{% endblock %}




  <!-- </body>
</html> -->
