{% extends "index.html" %}
<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> F3RRIN </title>
	 <link href="https://fonts.googleapis.com/css?family=Advent Pro" rel="stylesheet">
	 <link href="../static/styles.css" rel="stylesheet" type="text/css">
   <script src="../static/script.js"></script>
<body> -->

<!--
    <div class = "top-bar">
    <center><h1 class="title"> F 3 R R ! N </h1></center>
    <ul class= "menu-bar">
  <li><a href="enterPage.html">Home</a></li>
  <li><a href="media.html">Media</a></li>
  <li><a href="aboutMe.html">About Me</a></li>
  <li><a href="aboutMe.html">Contact</a></li>
  <li><a href="aboutMe.html">Blog</a></li>
</ul>
</div> -->
    {%block content%}
    <h1>hi</h1>
    {% endblock %}


	  <!-- <p style="font-family:verdana; color:whitesmoke">Click <button id="song-submit-button" onclick="fetchId()">here</button> to see what I'm listening to at this exact moment: </p>
     <div id="song-container">
     <a id="song-link"><p id="song-title"></p>
     <p id="song-artist"></p></a>
     <img id="song-thumbnail"></img>
     <audio controls id="song-preview"></audio>
   </div>
   <div id="song-container2">
   <a id="song-link2">Here</a>
   <div>
   <p id="song-title2"></p>
   <p style="text-align : right" id="song-artist2"></p>
 </div>
   <img id="song-thumbnail2"></img>
   <audio controls id="song-preview2"></audio>
 </div>

  -->

  /*
  	Ferrin Threatt fthreat
  	CPSC 2311-002
  	Programming Assignment 4
  	Description:  This function creates an encoded message or
  					  decode an encrypted message using the key based on
              the parameters.
  */


  /* function name:  encode

     description:  This program encodes and decodes messages

     input parameter(s):
      r0 - address of input string
      r1 - address of output string
      r2 - address of key string
      r3 - encode/decode switch
           r3 == 0 means encode
           r3 == 1 means decode

     return value (if any):
      none

     other output parameters:
      none

     effect/output
      output string is updated with encoded or decoded message

     method / effect:


     typical calling sequence:
          pass input parameters
      use modified output register


     local register usage:
      input         r0
      output        r1
      key           r2
      decodeFlag    r3
      inputIndex    r4
      stringIVal    r5
      keyIVal       r6
      keyIndex      r7
      temp          r8

   */

  <!-- </body>
</html> -->
