{% extends '_base.html'%}
    {% block content %}


	  <p style="font-family:verdana; color:whitesmoke">Click <button id="song-submit-button" onclick="fetchId()">here</button> to see what I'm listening to at this exact moment: </p>
     <div id="song-container">

     <a id="song-link"><p id="song-title"></p>
     <p id="song-artist"></p></a>
     <img id="song-thumbnail"></img>
     <audio controls id="song-preview"></audio>
   </div>
   <div id="song-container2">
   <a id="song-link2">Here</a>
   <div>
   <p id="song-title2"></p>
   <p style="text-align : right" id="song-artist2"></p>
 </div>
   <img id="song-thumbnail2"></img>
   <audio controls id="song-preview2"></audio>
 </div>
{% endblock %}




  <!-- </body>
</html> -->
